* {
    box-sizing: border-box;
}

.container {
    display: flex;
    padding: 30px;
}

.list {
    margin: 0 20px 0 0;
}

.listItem {
    width: 200px;
    list-style: none;
    border: 0.7px solid rgb(192, 190, 190);
    padding: 5px;
    cursor: pointer;
}

.listItem:nth-child(n+2) {
    border-top: none;
}

.userName {
    font-size: larger;
    padding-bottom: 15px;
}

.info {
    border: 0.7px solid rgb(184, 183, 183);
    padding: 5px;
}

.info:nth-child(n+2) {
    border-top: none;
}